.checkout-container{
    width: 100%;
    background-color: #1A1A1A;
    color: white;
    padding: 20px 140px;
}

.checkout-container>h1 {
    text-align: center;
    padding: 1.2rem 0;
}

.checkout-main-container{
    display: flex;
    justify-content: space-between;
    text-align: left;

}

.address-container{
    width: 62%;
    padding: 0px 20px;
}

.address-container>h2{
    margin: 10px 0;
}

.address-item-div{
    margin-bottom: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid #8d8d8d75;
    background-color: #222;
}

.address-item-div label{
    display: flex;
    gap: 0.5rem;
    margin-bottom: 5px;
}

.add-and-edit-address-button{
    width: 100%;
    margin: 0;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #FF7200;
    cursor: pointer;
}

.add-and-edit-address-button:hover{
    background-color: #FF6100;
    transition: ease-in .1s;
}

.order-details-container{
    width: 35%;
    padding: 1rem;
    background-color: #222;
    border: 1px solid #8d8d8d75;
}